.quote {
  width: 100%;
  padding: 35px 0 40px 0;
  background-color: #2a3b40;
  .wrap {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #fff;
      font-family: Raleway, sans-serif;
      .q {
        .css-i4bv87-MuiSvgIcon-root {
          font-size: 50px;
          transform: rotate(180deg);
        }
      }
      p {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.7;
        text-align: center;
      }
      span {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  .social {
    display: flex;

    justify-content: center;
    margin-top: 30px;
    a {
      color: #2a3b40;
    }
    .wrap-icons {
      display: flex;
      .icon {
        background-color: #fff;
        width: 40px;
        height: 40px;
        margin-right: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s ease-in-out;
        &:hover {
          background-color: #587178;
        }
        &:last-child {
          margin-right: 0;
        }
        @media screen and (max-width: 330px) {
          margin-right: 10px;
        }
      }
    }
  }
}
