.discover {
  width: 100%;
  height: 100%;
  background: url(../../img/bg3.png) no-repeat;
  background-size: cover;
  padding-top: 240px;
  .wrapper {
    max-width: 100%;
    background-color: rgba(217, 220, 221, 0.7);
    padding-bottom: 65px;
    .newMenu {
      max-width: 1220px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      box-sizing: border-box;
      h2 {
        font-family: Raleway, sans-serif;
        font-size: clamp(1.1rem, 10vw, 2.93rem);
        color: #ad6c12;
        text-transform: uppercase;
        text-align: center;
        padding: 50px 0;
        span {
          font-family: Cookie, sans-serif;
          font-size: clamp(1.1rem, 10vw, 4.83rem);
          text-transform: capitalize;
          color: #304751;
          font-weight: normal;
        }
      }
      .wrap-box {
        display: flex;
        justify-content: space-between;
        @media screen and(max-width: 1400px) {
          flex-direction: column;
          align-items: center;
        }
        .left,
        .right {
          width: 50%;
          @media screen and (max-width: 800px) {
            width: 100%;
          }
        }
      }
    }
  }
}
