.disc-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 1010px) {
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 650px) {
    justify-content: center;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .item {
    max-width: 330px;
    background-color: #fff;
    .wrap-desc {
      padding: 15px;
      .category {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #606060;
        .cat {
          text-transform: none;
          font-size: 14px;
          border: none;
        }
        .slash {
          margin: 0 3px;
        }
      }
      h3 {
        font-size: 16px;
        color: #4f4e4e;
        font-weight: bold;
        margin-bottom: 0;
      }
      p {
        margin-top: 0;
        font-size: 16px;
        font-weight: 400;
        color: #7e7d7d;
      }
      a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #555555;
        text-decoration: none;
        border-bottom: #ff992b 5px solid;
        transition: all 1s ease;
        &:hover {
          color: #ff992b;
        }
      }
    }
    .items-img {
      display: flex;
      img {
        max-width: 100%;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
}
